/* CONTROLES TÁCTILES / ON-SCREEN */
#controls-container {
    position: absolute;
    bottom: 60px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
    transition: all 0.5s ease;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: auto;
}

/* Fix for broken D-pad layout */
.control-group .row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.right-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px 10px;
    align-items: end;
    pointer-events: auto;
}

.grid-header-explore {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height: clamp(40px, 13vw, 55px);
    text-transform: uppercase;
}

#btn-scan.scan-active {
    background-color: #fff !important;
    color: #000 !important;
}

@media (orientation: landscape) {
    #controls-container {
        bottom: 25px;
        left: 40px;
        right: 40px;
    }
}